#acasa {
    padding: 100px 10%;
    text-align: center;
    position: relative;
    color: white;
    background: url('images/bgimg.jpg') no-repeat center center/cover;
}


#acasa h1 {
    padding-top: 10%;
    font-size: 200px;
    color: black;
    cursor: default;
}

#acasa h3 {
    color: black;
}

#acasa p {
    padding-top: 1em;
    font-size: 2em;
    color: black;
}


#homeBtn {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: normal;
    margin: 2em 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

#homeBtn:disabled {
    pointer-events: none;
}

#homeBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#homeBtn:active {
    box-shadow: none;
    transform: translateY(0);
}

@media (max-width: 900px) {
    #acasa {
        padding: 60px 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #acasa h1 {
        font-size: 60px;
        padding-top: 50px;
    }

    #acasa h3 {
        font-size: 1.2em;
    }

    #acasa p {
        font-size: 1.2em;
    }

    #homeBtn {
        font-size: 0.9em;
        padding: 0.8em 1.2em;
        margin-top: 1.5em;
    }
}