@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-montserrat {
               font-family: "Montserrat", sans-serif;
               font-optical-sizing: auto;
               font-weight: 400;
               font-style: normal;
             }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif
}

body {
  margin: 0;
}

section {
  padding: 100px 20px;
  min-height: 100vh;
  text-align: center;
}
